<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>simple Calculator</h5>
    {% if result %}
    <p>{{ num1 }} + {{ num2 }} = {{ result }}</p>
    {% endif %}
    <br>
    <form method="POST" action="{{url_for('add_query')}}">
        <input type="text" name="num1">
        <input type="text" name="num2">
        <input type="submit" value="Add">
    </form>
</body>
</html>